section{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center
}
img{ 
    width: 15rem; 
    border-radius: 50px;
;
}
.card{
    background-color: rgb(196, 248, 255);
    gap: 20px;
    border-radius: 30px;
    font-size: 30px;
 padding: 10px ;
}